<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= url('style/play_stylesheet.css')%>"/>
    <script type='text/javascript' src="script/lib/jquery.js"></script>
    <script type='text/javascript' src="script/play/play_game_script.js"></script>
  </head>
  <body>
    <noscript>
      <p>Javascript is necessary to play this game. Please enable javascript on this page.</p>
    </noscript>
    <div id="response_space"></div>
    <div id='command_prompt'>
      <span>&gt;</span>
      <input type='text' id='player_command' autofocus/>
    </div>
  </body>
</html>