<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= url('style/play_stylesheet.css')%>"/>
    <script type='text/javascript' src="script/lib/jquery.js"></script>
    <script type='text/javascript' src="script/play/play_game_script.js"></script>
  </head>
  <body>
    <div id="response_space"></div>
  </body>
</html>